
@{
    ViewData["Title"] = "Exit";
}

@{
    Layout = "_Layout";
}

    <body>
        <div class="text-center">
            <h1 class="display-4">Thank you for using the SCHEDULE ADMINISTRATOR</h1>
            <h4><strong>To close the program, you have to click the "x" in the upper right part. </strong></h4>
            <script type="text/javascript">
                window.close();
            </script>
        </div>
    </body>
@*Obtenido de https://stackoverflow.com/questions/853738/how-do-you-close-an-asp-net-mvc-page-from-the-controller*@
