
@{
    ViewData["Title"] = "Exit";
}

@{
    Layout = "_Layout";
}

<body>
    <div style="text-align:center;">
        <h2>Logout</h2>
        <p>Thank you for your business.</p>
        <input id="btnLogout" type="button" value="Exit" class="Button" onclick="javascript:window.close();" />
    </div>
</body>
@*Obtenido de https://stackoverflow.com/questions/853738/how-do-you-close-an-asp-net-mvc-page-from-the-controller*@
